.all-nav {
  background-color: rgba(250, 155, 104, 0.837);
  font-family: 'Fraunces', serif;
  height: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  top: 0;
  width: 100vw;
  border-bottom: 2px solid rgba(250, 155, 104, 0.995);
}

.logo {
  text-align: left;
}
.login {
  text-align: left;
}
.register {
  text-align: left;
}