.all-nav {
  background-color: rgba(141, 79, 227, 0.67);
  font-family: 'Fraunces', serif;
  height: 4.95vw;
  width: 100%;
  display: inline-block;
  top: 0;
  width: 100vw;

}

.logo {
  display: inline-block;
  margin-top: -100;
  padding-top: 0;
  height: 170px;
  width: 200px;
  }


.text {
  float: right;
}
.login {
  float: right;
}

.reg-container{
  width: 90px;
}
.register {
  float: right;
}
.orgs {
  text-align: center;
}