.all-nav {
  background-color: rgba(141, 79, 227, 0.67);
  font-family: "Fraunces", serif;
  height: 10vw;
  width: 100%;
  display: inline-block;
  top: 0;
  width: 100vw;
}

.logo {
  float: left;
  margin-top: -50;
  padding-top: 0;
  height: auto;
  width: 10vw;
  /* object-fit: cover; */
}

.text {
  color:rgba(0, 0, 1, 0.495);
  margin-top: 55px;
  margin-left: 10px;
  float: left;
}
.login {
  margin-top: 63px;
  margin-right: 25px;
  float: right;
}

.register {
  margin-top: 63px;
  margin-right: 25px;
  float: right;
}
.orgs {
  text-align: center;
}
