.login-form {
    background-color: rgba(141, 79, 227, 0.67);
    margin-left: 40%;
    width: 300px;
    height: 300px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }