.org{
  margin-left: 35vw;
  width: 500px;
  height: 600px;
  border-radius: 20px;
  background-color: rgba(141, 79, 227, 0.90);
}
.edit {
  margin: 10px;
}
.delete{
  margin: 10px;
}
.create{
  margin: 10px;
}
