.footer {
  background-color: lightsalmon;
  font-family: 'Fraunces', serif;
  height: 40vw;
  position: sticky;
  text-align: center;
  padding: 10px;
  height: 50px;
}
.my-name {
  padding-top: 1vw;
}

.social-icons {
  font-size: 2.9vw;
  padding-bottom: -150px;
}
.facebook {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 3vw;
  color: rgb(36, 126, 216);
}
.instagram {
  margin-left: 1vw;
  margin-right: 1vw;
  color: rgb(227, 123, 244);
}
.twitter {
  margin-left: 1vw;
  margin-right: 1vw;
  color: rgb(169, 212, 255);
}